body{
    background-color: #14016d;
}
.back{
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: 0.5s;
}
.back:hover{
    transition: 0.5s;
    transform: rotate(360deg);
}
.main1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: white;
    min-height: 250px;
    min-width: 350px;
    box-shadow: 0px 25px 25px 0px #4d2fd3;
    border-radius: 20px;
}

input[type="button"]{
    height: 20px;
    color: white;
    background-color: #14016d;
    border-radius: 5px;
    border-width: 0px;
    font-size: 15px;
    font-family: 'Anonymous Pro', monospace;
    transition: 0.2s;
}
input[type="button"]:hover{
    background-color: #14016d;
    transition: 0.2s;
}
.line{
    background-color: #14016d; 
    width: 2px;
    min-height: 400px;
}
td{
    padding: 30px;
}
input[type="text"]{
    font-size: 15px;
    background-color: #4d2fd3;
    border-radius: 5px;
    border-width: 0px;
    height: 20px;
    color: white;
    font-family: 'Anonymous Pro', monospace;
    transition: 0.2s;
}
input[type="text"]:hover{
    background-color: #4d2fd3;
    transition: 0.2s;
}

h2{
    font-size: 30px;
    color: #14016d;
    font-family: 'Anonymous Pro', monospace;
}

label, p{
    font-size: 20px;
    color: #14016d;
    font-family: 'Anonymous Pro', monospace;
}

a{
    font-family: 'Anonymous Pro', monospace;
    color: white;
    font-size: 20px;
    text-decoration: none;
}